/* couleurs
#FFFAF5
*/

body {
    padding: 1em;
    background-color: rgb(244, 240, 230);
}

/* header */
/* nav {
    position: fixed;
    background-color: rgba(244, 240, 230, 0.545);
    backdrop-filter: blur(2px);
} */
.dashboard {
    display: flex;
    flex-direction: row;
}

.header_align {
    display: flex;
    justify-content: space-between;
    text-decoration: none;

}

.contact {
    text-align: right;
    text-decoration: underline;
}

.icone_lien {
    width: 2em;
    display: flex;
}



/* Premiere partie */
h1 {
    margin-block-start: 0px;
    padding: 0;
    text-align: center;
    font-family: "arya-single", sans-serif;
    font-style: normal;
    font-size: 6em;
    color: rgb(255, 60, 0);
    text-transform: uppercase;

}

.projets_content {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    justify-content: center;

}

.projetsDetail {
    display: flex;
    flex-direction: column;
    margin: .3em;
    padding-bottom: 4em;
}


.detailPng {
    filter: opacity(100%);
    border-radius: 1em;
}


.descriptionTag {
    margin: 1em;
}


h2 {
    margin-top: -1.5em;
    text-align: center;
    font-family: Futura;
    font-weight: 100;
    font-style: normal;
    font-size: 3em;
    color: rgb(255, 60, 0);

    /* text-transform: uppercase; */
}

h3 {
    color: rgb(255, 60, 0);
    text-transform: uppercase;
    font-family: "europa", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    color: rgb(255, 60, 0);
    font-family: "europa", sans-serif;
    font-weight: 300;
    font-style: normal;

}

mark {
    background-color: rgb(255, 60, 0);
    color: rgb(244, 240, 230);
}

ul {
    color: rgb(255, 60, 0);

}

.home_about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.home_content {
    display: flex;
    flex-direction: column;

}

.languages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.chapitre {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20vw;
    margin: 0;
}

/*
.home_projects {
 background-color: #fff200; 
}*/


.detailPng {
    display: flex;
    justify-content: center;
    width: 65em;

}

.nameTag {
    font-size: 4em;
    margin: 0px;
}

.textTag {
    display: flex;
    justify-content: space-around;
}

p .presentation {
    display: flex;
    justify-content: center;
    font-family: "mundial", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 4em;
    max-width: 24em;
    text-align: center;
}

.presentation {
    font-size: 2em;
    animation: ani 1s;
    text-align: center;
}

/* @keyframes ani {
    0% {
        top: -20px;
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
} */

@keyframes anim {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}


.languageTag {
    display: flex;
    flex-direction: column;
}

.footerDispo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logoHugo {
    width: 20em;
}

.about {
    display: flex;
    justify-content: end;
    flex-direction: column;
}


/*footer*/
footer {
    padding-top: 4em;
    background-color: rgb(255, 60, 0);
    border-radius: 0em 0em 2em 2em;
}



/* Media screen  */
@media screen and (max-width: 1224px) {

    .projets_content {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }
}